#title_main3{
	width: 500px;
	z-index: 999;
}
#title_left3{
	float:left;
	margin-left : 25px;
	width: 150px;
}


#time3{
	position: absolute;
	top: 85px;
	right: 25px;	
	font-size : 15px;
	color: white;
} 
#date3{
	position: absolute;
	top: 85px;
	right: 125px;	
	font-size : 15px;
	color: white;
} 

#hr3{
	margin-top: 60px;
	z-index: 99;
	width: 95%;
	border: 2px solid white;
}

#mainTable3{
	/* width : 95%; */
	z-index: 99;
}

#mainTable3 tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px;
    
    -moz-border-radius-topleft:10px;
    -webkit-border-top-left-radius:10px;
    border-top-left-radius:10px
}

#mainTable3 tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px;
    
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px
}

.statusIcon{
	width: 40px;
	height: 40px;
}

.pie{
	width: 95%;
	height: 500px;
	margin: 0 auto;
}

.tr{
  background: linear-gradient(white, gray); /* Standard syntax */
  opacity : 0.7;
  
}